<h2 class="question"> {{ q }} </h2>


<form action="/quiz/answer/1" method="POST">
    <input class="buttonclass" type="submit" value="{{qAnswers.a1}}">
</form>

<form action="/quiz/answer/2" method="POST">
    <input class="buttonclass"  type="submit" value="{{qAnswers.a2}}">
</form>

<form action="/quiz/answer/3" method="POST">
    <input class="buttonclass"  type="submit" value="{{qAnswers.a3}}">
</form>

<form action="/quiz/answer/4" method="POST">
    <input class="buttonclass"  type="submit" value="{{qAnswers.a4}}">
</form>


